:root {
  --candidate-width: 30vw;
}

#candidate-list {
  width: var(--candidate-width);
}

#candidate {
  background-color: #27272A;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--tini-brand-text-color);
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  user-select: none;
  width: var(--candidate-width);
}

#candidate:not(:active) {
  transition-duration: 200ms;
  transition-property: left, top;
  transition-timing-function: ease-out;
}
